In [4]:
import boto3
import pandas as pd
from io import StringIO

def read_csv_from_s3(bucket_name, file_key):
    # Create an S3 client
    s3_client = boto3.client('s3')

    # Get the CSV file content from S3
    s3_object = s3_client.get_object(Bucket=bucket_name, Key=file_key)
    file_content = s3_object['Body'].read().decode('utf-8')

    # Read the content into a pandas DataFrame
    df = pd.read_csv(StringIO(file_content))
    return df

# Example usage
bucket_name = 'sagemaker-bucket-ds'
file_key = '01_STOCKS/DATA/JOINED/joined_dataset.csv'

df = read_csv_from_s3(bucket_name, file_key)

In [5]:
# Keep only the 'date' column and columns which have 'zamkniecie' in their name
filtered_columns = [col for col in df.columns if 'zamkniecie' in col.lower() or col.lower() == 'date']
df_filtered = df[filtered_columns]

In [6]:
df_filtered

,date,^spx_zamkniecie,aapl.us_zamkniecie,mcd.us_zamkniecie,msft.us_zamkniecie
0,2000-01-03,1455.22,0.851702,28.1546,41.0875
1,2000-01-04,1399.42,0.780021,27.5734,39.7047
2,2000-01-05,1402.11,0.791386,28.0229,40.1206
3,2000-01-06,1403.45,0.722995,27.6128,38.7774
4,2000-01-07,1441.47,0.757589,28.3307,39.2808
...,...,...,...,...,...
6032,2023-12-22,4754.63,193.600000,291.7000,374.5800
6033,2023-12-26,4774.75,193.050000,292.8600,374.6600
6034,2023-12-27,4781.58,193.150000,294.5500,374.0700
6035,2023-12-28,4783.35,193.580000,295.8400,375.2800
6036,2023-12-29,4769.83,192.530000,296.5100,376.0400